<? xml version="1.0" encoding="utf8" ?>
<main>
    <log level="3" module="paycenter" path="/data/fish/log" />
    <service pid="./paycenter.pid" type="http" header="1" >
        <net id="1" ports="3310" ssl="0" />
        <accept timeout="100" parallel="10" />
        <worker count="1" startId="1000" >
            <client start="10000" maxconn="100000" step="1000" />
        </worker>
        <client>
            <active timeout="500" />
            <authorize timeout="500" />
            <heartbeat interval="5000" timeout="3" />
            <resp buffer_size="262144" />
        </client>
        <reload>
            <uri cgi="api/reload" validip="0.0.0.0"/>
            <!--  cache 中是存储到redis中的数据
                  keyfmt 为key的格式, 若无本进程需要的数据，则无此key
                  对应的内容为
                  {"type":"report|config|plugin|...", "plugin":"指定模块名称","caller":触发的PID, "time":触发时间UNIX_TIME}
                  looptime 为循环检查的时间间隔，以秒计算，下次重载后生效
            -->
            <cache cache="redis" keyfmt="payframe#reload#pid_%d" timeout="600" looptime="5" />
        </reload>
        <alert id="88000015" url="http://webmw_hk.opk2.com:18081/bot/sendMsg" />
        <!--  http://ifconfig.me  -->
        <ip url="http://icanhazip.com" />
    </service>

    <plugin empty_cgi="index.html" >
        <cgi name="云顶支付" slot1="./webpay/pay_zhpay.so" slot2="" init="doInit" entry="queryRegister" maintance="run" />
        <cgi name="众币支付" slot1="./webpay/pay_zhongbi.so" slot2=""  init="doInit" entry="queryRegister" maintance="run" />
        <cgi name="超凡支付" slot1="./webpay/pay_chaofan.so" slot2=""  init="doInit" entry="queryRegister" maintance="run" />
    </plugin>

    <dbms>
        <db id="1" name="redis" type="redis" host="127.0.0.1" port="6379" db="2" user="" passwd="" />
        <db id="2" name="paycenter" type="mysql" host="127.0.0.1" port="3306" db="paycenter" user="psvruser" passwd="cXd0ZXN5cXQ=" />
        <db id="3" name="oracle" type="oracle" host="oracle.opk2.com" port="1521" db="orcl" user="yuzp" passwd="cXd6cGt5cWluZw==" />
        <db id="4" name="userinfo" type="mysql" host="127.0.0.1" port="3306" db="dt_hall" user="test" passwd="cXd0ZXN5cXQ=" />
    </dbms>

    <regex>
        <item name="mobile" value="^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$" />
        <item name="identity" value="^\d{6}(18|19|20)?\d{2}(0[1-9]|1[012])(0[1-9]|[12]\d|3[01])\d{3}(\d|[xX])$" />
    </regex>

<!--
    <clientIp source="header" 
        source = [net|header|param]
            net 是指从IClient* 获取， 如 pClient->getIpStr()，忽略 prop
            header 是指从 CHttpRequest 的 header中获取, prop是指名称
            param  是指从 CHttpRequest 的 param 中获取，prop是指名称
        prop="X-Real-IP" />
-->
    <clientIp source="header" prop="X-Real-IP" />
<!--
    是否启用API认证, ative=[on|off]
    source = [header|param|cookie]
    user = 用户名
    sign = 密钥
-->
    <authorize active="on">
        <field source="param" user="user" sign="sign" />
    </authorize>

    <paycenter>
        <game id="6" code="daishu" url="http://hall.gamescity:18706/v2/server/trade" sign="pay.quwangame.com"/>
        <db main="paycenter" userinfo="userinfo" redis="redis" />
        <uri_pay uri="api/pay"/>
        <uri_sign uri="api/sign"/>
        <uri_verify uri="api/verify"/>
        <uri_reload uri="api/reload" validIp="127.0.0.1" />
        <callback url="http://119.3.59.200:8082/phoenixfun_qa_pingbi/index.html" />
        <notify host="http://119.3.59.200:3311" />
    </paycenter>

    <zhpay sdk="ZHONGHE" desc="云顶支付">
        <notify uri="api/zhpay/callback" validIp="0.0.0.0" />
    </zhpay>

    <zhongbi sdk="ZHONGBI" desc="众币支付">
        <notify uri="api/zhongbi/callback" validIp="0.0.0.0" />
    </zhongbi>

    <chaofan sdk="CHAOFAN" desc="超凡支付">
        <notify uri="api/chaofan/callback" validIp="0.0.0.0" />
    </chaofan>

<!-- 已失效  
    <alipay>
        <param url="https://openapi.alipay.com/gateway.do" 
            charset="utf-8" signType="RSA2" version="1.0" />
        <crazyfish appId="2016012101111554" 
            key="./.key/alipay_crazyfish_key.pem" 
            pubkey="./.key/alipay_crazyfish_pubkey.pem" />
        <testapp appId="" key="" pubkey="" />
        <precreate items="123" />
    </alipay>
    <baoli sdk="BAOLI" desc="丽宝支付，已失效">
        <notify uri="api/baoli/callback" validIp="23.225.198.42" />
        <transfer url="http://119.3.59.200:3311/api/baoli/html"  />
    </baoli>
    <richcw desc="极速支付，袋鼠专用">
        <db main="paycenter" redis="redis" />
        <payid data="26,27" />
        <callback url="http://hall.gamescity:18706/v2/server/trade" />
        <notify url="http://127.0.0.1:18091/richcw_cb" />
    </richcw>
    <lion dbId="2" redisId="1" ids="1,2,3"
        callback="http://127.0.0.1:18091/lion_cb"
        notify="http://hall.gamescity:18706/v2/server/trade"
        desc="狮子会支付，火星104渠道专用" />
-->
</main>


